@import url(fonts.css);

.menu-bar {
    width: 100%;
    height: 925px;
    background-image: url(../img/Background.png);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: #cdcdcd;
}

.menu-bar-pets {
    width: 100%;
    height: 120px;
    text-emphasis-color: #545454;
    background-size: cover;
    background-position: center;
    padding: 60px;
    color: #cdcdcd;
}

.Logo {
    font-family: 'Georgia';
    font-size: 32px;
    color: #f1cdb3;
}

.LogoDescription {
    font-family: 'Arial';
    font-size: 13px;
    color: #ffffff;
}

.Logo-Pets {
    font-family: 'Georgia';
    font-size: 32px;
    color: #545454;
}

.LogoDescription-Pets {
    font-family: 'Arial';
    font-size: 13px;
    color: #545454;
}


.Titel {
    font-family: 'Georgia';
    font-size: 44px;
    color: #ffffff;
}

.TitelDescription {
    font-family: 'Arial';
    font-size: 15px;
    color: #cdcdcd;
}

.Button {
    display: inline-block;
    padding: 15px;
    margin-top: 46px;
    border-radius: 26px;
    box-shadow: 0 0 40px 40px #f1cdb3 inset, 0 0 0 0 #f1cdb3;
    font-family: 'Georgia';
    font-size: 17px;
    color: #292929;
    text-decoration: none;
}

.ButtonPay {

    display: inline-block;
    padding: 15px;
    border-radius: 26px;
    box-shadow: 0 0 40px 40px #f1cdb3 inset, 0 0 0 0 #f1cdb3;
    font-family: 'Georgia';
    font-size: 17px;
    color: #292929;
    text-decoration: none;
}

.ButtonSlider {
    border: 1px #f1cdb3 solid;
    display: inline-block;
    padding: 15px;
    margin-top: 46px;
    border-radius: 26px;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    font-family: 'Georgia';
    font-size: 17px;
    color: #292929;
    text-decoration: none;
}

.ButtonSlider:hover {

    display: inline-block;
    padding: 15px;
    margin-top: 46px;
    border-radius: 26px;
    box-shadow: 0 0 40px 40px #f1cdb3 inset, 0 0 0 0 #f1cdb3;
    font-family: 'Georgia';
    font-size: 17px;
    color: #292929;
    text-decoration: none;
}

.TextTitel {

    letter-spacing: 60;
    line-height: 45px;
    font-family: 'Georgia';
    font-size: 35px;
    color: #545454;
}



.Text {
    letter-spacing: 0;
    line-height: 24px;
    font-family: 'Arial';
    font-size: 15px;
    color: #4c4c4c;
}

.IconName {
    font-family: 'Georgia';
    font-size: 20px;
    color: #545454;
}

.card-title {
    font-family: 'Georgia';
    font-size: 20px;
    color: #545454;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    text-decoration: none;
    font-family: 'Arial';
    font-size: 15px;
    color: #cdcdcd;
}



.menu__item a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
    text-decoration-color: #f1cdb3;

}

.menu__item-Pets {
    margin-left: 37px;
}

.menu__item-Pets a {
    text-decoration: none;
    font-family: 'Arial';
    font-size: 15px;
    color: #545454;
}



.menu__item-Pets a:hover {
    color: #545454;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
    text-decoration-color: #f1cdb3;

}

.carousel-inner {
    padding: 1em;
}

.card {
    background-color: #fafafa;
    margin: 0 0.5em;
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    margin-left: -100px;
    margin-right: -100px;
    border: 2px #f1cdb3 solid;
    background-color: #ffffff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    margin-left: -100px;
    margin-right: -100px;
    background-color: #f1cdb3;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    color: #000000 !important;
}

.carousel-control-prev:active,
.carousel-control-next:active,
.carousel-control-prev:focus,
.carousel-control-next:focus {
    margin-left: -100px;
    margin-right: -100px;
    background-color: #f1cdb3;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    color: #000000 !important;
    outline: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {

    max-height: 100%;
}

@media (max-width: 767px) {
    .card .img-wrapper {

        height: 17em;
    }
}

.carousel-control-next,
.carousel-control-prev {
    color: #000000;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    color: #000000;
}

.FooterBar {
    width: 100%;
    height: 362px;
    background-image: url(../img/FooterBackground.png);
    background-size: cover;
    background-position: center;
    color: #cdcdcd;
}

.TextTitelFooter {

    letter-spacing: 60;
    line-height: 45px;
    font-family: 'Georgia';
    font-size: 35px;
    color: #ffffff;
}

.Сontacts {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #f1cdb3;
    text-decoration: none;

}

.btn-close {
    width: 100px;
    height: 100px;
    display: block;
    float: right;
    position: relative;
    top: -100px;
    right: -100px;
    z-index: 99999;
}



.modal-dialog {

    background-color: rgba(255, 255, 255, 0) !important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0);
    /* Полностью прозрачный фон */
}

/* ============= АДАПТИВНЫЕ СТИЛИ ДЛЯ МОБИЛЬНЫХ И ПЛАНШЕТОВ ============= */

/* Мобильные устройства (до 576px) */
@media (max-width: 575.98px) {
    .TextTitel {
        font-size: 24px;
        line-height: 30px;
    }

    .Text {
        font-size: 13px;
        line-height: 20px;
    }

    .Titel {
        font-size: 28px;
    }

    .TitelDescription {
        font-size: 12px;
    }

    .Button,
    .ButtonPay,
    .ButtonSlider {
        padding: 12px;
        margin-top: 20px;
        font-size: 15px;
    }

    .IconName {
        font-size: 16px;
        margin-top: 10px;
    }

    .card-title {
        font-size: 16px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5vh;
        height: 5vh;
        margin-left: -40px;
        margin-right: -40px;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover,
    .carousel-control-prev:active,
    .carousel-control-next:active,
    .carousel-control-prev:focus,
    .carousel-control-next:focus {
        width: 5vh;
        height: 5vh;
        margin-left: -40px;
        margin-right: -40px;
    }

    .carousel-inner {
        padding: 0.5em;
    }

    .card {
        margin: 0 0.25em;
    }

    .btn-close {
        width: 50px;
        height: 50px;
        top: -50px;
        right: -50px;
    }

    .menu-bar {
        height: auto;
        padding: 30px 15px;
    }

    .menu-bar-pets {
        height: auto;
        padding: 30px 15px;
    }
}

/* Планшеты (576px до 991px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .TextTitel {
        font-size: 28px;
        line-height: 35px;
    }

    .Text {
        font-size: 14px;
        line-height: 22px;
    }

    .Titel {
        font-size: 36px;
    }

    .TitelDescription {
        font-size: 13px;
    }

    .Button,
    .ButtonPay,
    .ButtonSlider {
        padding: 14px;
        margin-top: 30px;
        font-size: 16px;
    }

    .IconName {
        font-size: 18px;
    }

    .card-title {
        font-size: 18px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5.5vh;
        height: 5.5vh;
        margin-left: -70px;
        margin-right: -70px;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover,
    .carousel-control-prev:active,
    .carousel-control-next:active,
    .carousel-control-prev:focus,
    .carousel-control-next:focus {
        width: 5.5vh;
        height: 5.5vh;
        margin-left: -70px;
        margin-right: -70px;
    }

    .carousel-inner {
        padding: 0.75em;
    }

    .card {
        margin: 0 0.35em;
    }

    .menu-bar {
        height: auto;
        padding: 40px 20px;
    }

    .menu-bar-pets {
        height: auto;
        padding: 40px 20px;
    }
}

/* Средние экраны и выше (992px+) */
@media (min-width: 992px) {
    .carousel-inner {
        padding: 1em;
    }

    .card {
        margin: 0 0.5em;
    }
}

/* Адаптивные контейнеры */
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 576px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}